<!DOCTYPE html>
<html>
<head>
  <title>LiftMate</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css?family=Galada|Source+Sans+Pro&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/8fd8a20af3.js" crossorigin="anonymous"></script>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_user %>
    <nav class="top-bar">
      <h1><a href="/" class="layout-title">LiftMate</a></h1>
      <section class="top-bar-section">
        <ul class="right dropdown menu" data-dropdown-menu>
          <li>
            <i class="fas fa-user-cog fa-2x"></i>
            <ul class="menu">
              <li class="button"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        </ul>
      </section>
    </nav>

    <div class="background">

  <% else %>
    <div class="no-user-background">
      <nav class="top-bar no-user-navbar">
        <h1 class="no-user-layout-title"><a href="/">LiftMate</a></h1>
        <section class="top-bar-section">
          <ul class="right dropdown menu" data-dropdown-menu>
            <li>
              <i class="fas fa-user fa-2x" id="no-user-icon"></i>
              <ul class="menu">
                <li class="button"><%= link_to 'Sign Up', new_user_registration_path %></li>
                <li class="button"><%= link_to 'Log In', new_user_session_path %></li>
              </ul>
            </li>
          </ul>
        </section>
      </nav>
      <div class="spacer">
      </div>
  <% end %>

    <%= yield %>

    <%= javascript_include_tag 'application' %>

    <%- if Rails.env.development? || Rails.env.test? -%>
      <%= javascript_tag do %>
        window.railsEnv = '<%= Rails.env %>'
      <%- end -%>
    <%- end -%>
    <%= javascript_pack_tag 'application' %>

    <%= yield :extra_footer %>
  </div>
</body>
</html>
