<!DOCTYPE html>
<html>
<head>
  <title>LiftMate</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css?family=Galada|Source+Sans+Pro&display=swap" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="top-bar">
    <h1><a href="/" class="layout-title">LiftMate</a></h1>

    <section class="top-bar-section">
      <ul class="right menu">
        <%- if current_user -%>
          <li class="button"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
          <li class="button"><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li class="button"><%= link_to 'Log In', new_user_session_path %></li>
        <%- end -%>
      </ul>
    </section>
  </nav>

  <div class="background">

    <%= yield %>

    <%= javascript_include_tag 'application' %>

    <%- if Rails.env.development? || Rails.env.test? -%>
      <%= javascript_tag do %>
        window.railsEnv = '<%= Rails.env %>'
      <%- end -%>
    <%- end -%>
    <%= javascript_pack_tag 'application' %>

    <%= yield :extra_footer %>
  </div>
</body>
</html>
